/* Stylesheet for Recipes */
/*
    Add colors, background colors, typography properties (font-size, font-family, font-weight, text-align)
    Link to all html pages including recipes
*/
body {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, a, h2, h3 {
    font-family: 'Trebuchet MS';
    font-weight: 700;
}



h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

li {
    text-align: left;
}

a {
    font-size: 24px;
    color: rgb(0,0,0);
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    flex: 33%;
    border: 4px solid rgb(0,0,0);
    margin: 1%;
    text-align: center;
    max-width: 250px;
    border-radius: 5px;
}

.card {
}

.header {
    border: 4px solid rgb(0,0,0);
    background-color: rgb(100, 150, 100);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    text-decoration: underline;
}

.navbar a:hover {
    background-color: aqua;
}

ul {
    list-style: none;
}

.recipes {
    margin: 50px 10%;
    flex-wrap: wrap;
}

.call-to-action {
    background-color: rgb(200,200,200);
    padding: 20px 20%;
}

.signup {
    padding: 10px 40px;
    background-color: rgb(100, 150, 100);
    border: 1px solid black;
    border-radius: 5px;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.review-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.review img {
    width: 200px;
    height: auto;
    max-height: 300px;
}

.review-text {
    font-style: italic;
    margin-bottom: 5px;
}

.review-author {
    text-align: right;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    margin-top: auto;
    background-color: rgb(200,200,200);
    border: 3px solid black;
}

.footer a {
    font-size: 18px;
}